<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenCV Video Streaming</title>
</head>
<body>
    <h1>OpenCV Video Streaming</h1>
    <img id="frame" src="{{ url_for('video_feed') }}" alt="Video Stream">
</body>
<script>
   
    // // function to update the image
    function updateImage() {
        fetch("{{ url_for('video_feed') }}")
        .then(
                () => {

                    console.log("hola");
                    document.getElementById("frame").src = src="{{ url_for('video_feed') }}"
                    // force update the image
                }

        );
    }
    setInterval(updateImage, 200);
</script>
</html>
